#########
#Exclude all
#########
*
!*/
###########################################################################
##	Git
###########################################################################
!.gitignore
!README.md
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore Verilog
!rtl/axi_wrap/**/*.v
!rtl/ram_wrap/**/*.v
!rtl/CONFREG/**/*.v
!rtl/myCPU/**/*.v
!rtl/myCPU/**/*.h
!rtl/*.v
!testbench/**/*.v
#########
#IP files
#########
!rtl/xilinx_ip/**/*.xci
#########
#Simulation logic analyzer
#########
!run_vivado/**/*.wcfg
#########
#Project files
#########
#Do NOT ignore *.xpr files
!run_vivado/**/*.xpr
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!run_vivado/*.xdc