#########
#Exclude all
#########
*
!*/
###########################################################################
##	Git
###########################################################################
!.gitignore
!README.md
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore Verilog
!rtl/**/*.v
!rtl/**/*.h
!testbench/**/*.v
#########
#IP files
#########
!rtl/**/*.xci
#########
#Simulation logic analyzer
#########
!run_vivado/**/*.wcfg
#########
#Project files
#########
#Do NOT ignore *.xpr files
!run_vivado/**/*.xpr
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!run_vivado/**/*.xdc